body.ltr{
    direction: ltr;
    text-align: left;
    .swiper-slide.swiper-slide-active {
        // margin-right: 40px !important;
        margin-left: 0px !important;
    }
    .swiper-slide-prev{
        // margin-right: 40px !important;
        margin-left: 0px !important;
    }
    .centered_image{
        // left: calc(50%  + 20px);
        right: auto;
        transform: translate(50%, 15%);
    }    
    #sidebar{
        left:0;
    }
    #header{
        right: 0 ;
        left: auto ;
    }
    #sidebar .router-link-active::before {
        left: -12%;
        right: auto;
    }
    .form-group[data-v-904d044c]::before {
        left: 25px;
        right: auto;
    }
    .form-select {
        background-position: right 0.75rem center !important;
    }
    #sidebar .single_nav .arrow {
        right: 16px ;
        left: auto ;
        transform: rotate(180deg);
    }
    #search .fa-chevron-left, .orders_cards .fa-chevron-left{
        transform: rotate(180deg);
    }
    .addJobForm .form_icon {
        right: auto;
        left: 5px;
    }
    .addJobForm .form_icon2 {
        left: auto;
        right: 9px;
    }
    .orders_cards .single_order .abs .date, .orders_cards .single_order .abs .more {
        left: auto;
        right: 20px;
    }  
    .toggle_bar[data-v-7c48b7f6] {
        right: 35px;
        left: auto;
    }
    
      

    @media( max-width:768px ){
        #sidebar {
            transform: translateX(-100%);
        }
    }
}